@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "MuseoModerno", sans-serif;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overscroll-behavior: none;
  background-color: #ffffff;
}
